<footer>
    <div class="container">
        <div class="content">
            <hr />
	    <span>built with <a rel="noopener" href="https://cobalt-org.github.io/" target="_blank">cobalt</a>, <a
                rel="noopener"
                href="https://gitlab.com/NecroTechno/necro-tech"
                target="_blank"
                >site source available here</a
              ></span>
        </div>
    </div>
</footer>
