<header>
  <div class="container">
    <nav>
      <a href="/">home</a> - <a href="/misc.html">misc</a> |
      <a rel="me noopener" target="_blank" href="https://gitlab.com/NecroTechno"
        >git</a
      >
      -
      <a
        rel="me noopener"
        target="_blank"
        href="https://ghost.cafe/@NecroTechno"
        >social</a
      >
      -
      <a
        rel="me noopener"
        target="_blank"
        href="https://tilde.club/~necrotechno/"
        >tilde.club</a
      >
      -
      <a
        rel="me noopener"
        target="_blank"
        href="https://glitch.com/@NecroTechno"
        >glitch</a
      >
      -
      <a rel="me noopener" target="_blank" href="https://necrotechno.itch.io/"
        >itch</a
      >
    </nav>
    <hr />
  </div>
</header>
