<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% if page.slug == "index" %}
  <title>NecroTechno</title>
  {% else %}
  <title>NecroTechno - {{ page.title }}</title>
  {% endif %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>