<nav class="sidebar">
    <div class="header">
      <h1 class="no-v-margin"><strong><a href="/">necro.tech</a></strong><a class="skip" aria-label="Skip to content" href="#content"> &#9660;</a></h1>
    </div>
    <div class="content">
      <p class="no-v-margin">Labour is entitled to all it creates.</p>
    </div>
    <div class="header">
      <h2 class="no-v-margin"><strong>me</strong></h2>
    </div>
    <div class="content">
      <p class="no-v-margin"><a rel="me noopener" target="_blank" href="https://ghost.cafe/@NecroTechno">social</a></p>
      <p class="no-v-margin"><a rel="me noopener" target="_blank" href="https://tilde.club/~necrotechno/">tilde.club</a></p>
      <p ><a rel="me noopener" target="_blank" href="https://glitch.com/@NecroTechno">glitch</a></p>
      <p class="no-v-margin"><a href="mailto:necrotechno@riseup.net">email</a></p>
      <p class="no-v-margin">GPG - 538F 53D1 B8C9 69BB 3B56 D131 BF09 9E07 53F0 A785</p>
    </div>
    <div class="header">
      <h2 class="no-v-margin"><strong>stats</strong></h2>
    </div>
</nav>
