<!DOCTYPE html>
<html lang="en-gb">
  {% include "head.liquid" %}

  <body>
    {% include "header.liquid" %}

    <div class="container">
      <div class="row">
        <div class="four columns">
          <div class="content">
            <figure>
              <img src="/images/profile.png" alt="witch using computer" />
              <figurecaption>artist:
                <a
                  rel="noopener"
                  href="https://twitter.com/tristan_elwell"
                  target="_blank">Tristan Elwell</a>
              </figurecaption>
            </figure>
          </div>

        </div>
        <div class="eight columns">
          <div class="content">
            <h1>necro.tech</h1>
            <p>
              software developer, systems administrator, and security
              enthusiast
            </p>
            <h2>proficiencies</h2>
            <ul>
              <li>ES6, Rust</li>
              <li>Docker</li>
              <li>radare2</li>
              <li>React / React Native</li>
            </ul>
            <h2>highlighted projects</h2>
            <ul>
              <li>
                <a
                  rel="noopener"
                  href="https://gitlab.com/NecroTechno/mantid"
                  target="_blank">mantid</a>
                - security research tooling
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://gitlab.com/NecroTechno/interopticon"
                  target="_blank">interopticon</a>
                - proof of concept passive port scanning and database
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://gitlab.com/NecroTechno/internaut"
                  target="_blank">internaut</a>
                - TUI browser for interopticon backend
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://gitlab.com/NecroTechno/warpgate"
                  target="_blank">warpgate</a>
                - IPFS hash browser
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://gitlab.com/NecroTechno/mira"
                  target="_blank">mira</a>
                - simple NLP modelling workbook
              </li>
              <li>
                <a
                  rel="noopener"
                  href="https://athenaeum.necro.tech/"
                  target="_blank">athenaeum</a>
                - high quality 3ds audio rips
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include "footer.liquid" %}

  </body>
</html>