<!DOCTYPE html>
<html lang="en-gb">
  {% include "head.liquid" %}

  <body>
    {% include "header.liquid" %}

    <div id="content">
      <div class="container">
        <div class="content">
          <h1>
            {{ page.title }}
          </h1>
          <p class="no-v-margin">
            <a rel="noopener" href="https://www.eff.org/" target="_blank"
              >EFF</a
            >
          </p>
          <p class="no-v-margin">
            <a rel="noopener" href="https://www.resetera.com/" target="_blank"
              >ResetEra</a
            >
          </p>
          <p class="no-v-margin">
            <a rel="noopener" href="https://vetusware.com/" target="_blank"
              >VETUSWARE</a
            >
          </p>
          <p>
            <a
              rel="noopener"
              target="_blank"
              href="https://onlinelibrary.wiley.com/doi/full/10.1111/jiec.12630"
              >data transfer costs</a
            >
          </p>
          <p>
            <code>curl -fsSL https://necro.tech/files/hex.sh | bash</code>
          </p>
          <p>
            <code>curl -fsSL https://necro.tech/files/spectre.txt | less</code>
          </p>
        </div>
      </div>
      <div class="container">
        <div class="content">
          <h2>latest commits</h2>
          {% for log in site.data.commits limit:5 %}
          <p class="no-v-margin">
            <a
              rel="noopener"
              target="_blank"
              href="https://gitlab.com/NecroTechno/necro-tech/-/commit/{{
                log.commit
              }}"
              >{{ log.commit }}</a
            >
          </p>
          <p class="no-v-margin">{{ log.message }}</p>
          <p>{{ log.date }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include "footer.liquid" %}

  </body>
</html>
